// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width:800px;
  margin-left: 2px;
  margin-right: 20px;
}

main {
  width: 1280px;
}

html {
  font-family: "Gelasio", "Georgia", "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.2;

  @media (min-width: 38em) {
    font-size: 18px;
  }
}

body {
  color:#222; //#181717; // #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

button {
  background-color: #f44336; 
  color: white; 
  border: 1px solid #f44336;
  border-radius: 8px;
  padding: 4px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family:  inherit;
  margin: 4px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 0.7;
}

button:hover {
  background-color: #f44336;
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
}

.MathJax {
	  color: #030e1e !important; //#5f0b19 !important; //#0e0740 !important; //#2E256B !important;
}

.MathJax a {
		color: #030e1e !important; //#5f0b19 !important; // #0e0740 !important;//#2E256B !important;
		text-decoration: none;
		font-weight: 200;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
}

.blue {
  color: blue;
}
.red {
  color: red;
}
.green {
  color: green;
}
.grey { 
  color: grey;
}
.purple {
  color: purple
}
.orange {
  color: orange;
}
.yellow { 
  color: yellow;
}

.bold {
  font-weight: 550;
}

.papertitle{
  font-weight: 500;
  font-style: italic;
  font-size: 1em;
  color: #590004; 
}

.tab {
 margin-left: 2.5em
}
.authorindent {
  margin-left: 4.8em
}


// No `:visited` state is required by default (browsers will use `a`)
a {
  color: #05127a; //#0F0FAE;
	font-weight: 400;
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

a:visited {
	color: #05127a;
	font-weight: 400;
	text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
